.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem 1rem;
}

.app__title {
  margin: 0;
  font-size: 3rem;
  font-weight: 800;
}

.app__subtitle {
  font-size: 1.2rem;
  opacity: 0.7;
}

.app__body {
  flex: 1;
  overflow: hidden;
}

.app__status-banner {
  background: #2563eb;
  color: #fff;
  padding: 0.8rem 3rem;
  font-weight: 600;
}
